<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>我的偏好设置</title>
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <h3 class="title">我的偏好设置</h3>
    <div class="container">
      <div class="group">
        <div class="label">元气满满设置</div>
        <div class="lab-option">颜色:</div>
        <div class="lab-wrapper">1</div>
      </div>
      <div class="group">
        <div class="label">validate设置</div>
        <div class="lab-option">颜色:</div>
        <div class="lab-wrapper">1</div>
      </div>
    </div>
    <script src="./index.js"></script>
  </body>
</html>
